kubeconfig.yaml

**credentials**

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

**.tf.log

# .tfvars files
# *.tfvars
local.auto.tfvars

.DS_Store

# pyenv
.python-version
